<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069242618385-tb6d6bckn288htme3s8skel7vpu7tej0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069242618385-tb6d6bckn288htme3s8skel7vpu7tej0</string>
	<key>API_KEY</key>
	<string>AIzaSyBFxS4mO4fZuxcn2pDuE4riay2gBQ-RE-k</string>
	<key>GCM_SENDER_ID</key>
	<string>1069242618385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.eshop</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecomm-58297</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecomm-58297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069242618385:ios:809eaaaabb340d9dd8d7b0</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ecomm-58297-default-rtdb.firebaseio.com</string>
</dict>
</plist>